[Unit]
Description=Keep wireguard alive service at intervals
Documentation=https://github.com/mzz2017/keep-wg-alive

[Timer]
OnActiveSec=10s
OnUnitActiveSec=10s
OnStartupSec=1s
AccuracySec=1min

[Install]
WantedBy=timer.target
